.header-top-strip {
    border-bottom: 1px solid var(--color-3b4129);
    background-color: var(--color-131921);
}

.header-upper{
    background-color: var(--color-131921);
}

.header-upper .input-group-text{
    background-color: var(--color-febd69);
}